
.nav1 {
  background-color: black;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .gh-logo {
    width: 60px;
    align-self: center;
  }
}

.personal-info {
  margin-left: 100px;
  margin-right: 15px;
  display: inline;
  float: left;
  .user-picture {
    width: 200px;
  }
}

.activity_feed {
  display: inline;
  float: right;
}

.follow-pict {
  width: 75px;
}
.pop-repos-outer {
  display: flex;
  flex-flow: row wrap;
  .popular-repos {
    margin: 10px;
    height: 250px;
    width: 350px;
  }
}

.all-repos-outer {
  display: flex;
  flex-flow: row wrap;
  .all-repos {
    margin: 10px;
    height: 250px;
    width: 350px;
  }
}

.starred-repos-outer {
  display: flex;
  flex-flow: row wrap;
  .starred-repos {
    margin: 10px;
    height: 250px;
    width: 350px;
  }
}

.follower-outer {
  display: flex;
  flex-flow: row wrap;
  .followers {
    margin: 10px;
    width: 200px;
  }
}

.repo-style {
  border: 1px solid gray;
}

.following-outer {
  display: flex;
  flex-flow: row wrap;
  .following {
    margin: 10px;
    width: 200px;
  }
}

.login-outer {
  margin-top: 100px;
  height: 150px;
  background-color: black;
  text-align: center;
  .login {
    margin-top: 30px;
    font-size: 30px;
    display: block;
  }
  .gh-logo {
    height: 70px;
  }
}
